<div class="ui-41">
  <%- model_class = Prayerneed -%>
  <div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>         <%= link_to t('.new Prayerneed', :default => t("helpers.links.new")),
              new_prayerneed_path,
              :class => 'btn btn-default' %></h1>
  </div>
              <!-- Marketing Icons Section -->
          <div class="row">
              <% @prayerneeds.each do |prayerneed| %>
                <div class="col-md-4">
                    <div class="panel bg-<%= cycle('brown', 'blue','orange', 'red', 'black', 'rose') -%>">
                        <div class="panel-heading">
                            <h4><i class="fa fa-fw fa-plus"></i>
                            <%= link_to truncate(prayerneed.user.username, :length => 20, :size => 100), prayerneed %></h4>
                        </div>
                        <div class="panel-body">
                            <p><%= link_to truncate(prayerneed.title, :length => 50, :size => 100), prayerneed %></p>
                            <%= link_to 'Read Me', prayerneed, :class => "btn btn-default" %>
                        </div>
                    </div>
                </div>
              <% end %>
          </div>
          <!-- /.row -->

            <!-- Main Content Ends -->
 </div>
        <!-- UI 41 Ends-->

